.submit__button {
    font-size: 20px;
    padding: 12px 1px;
    width: 90px !important;
}

.horizontal-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
