body {
    background-color: #121212;
  }

  .page_title {
    color: #FFFF;
    margin-left: 5%;
  }
  
  .charts_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .ExpenseLineChart {
    margin-top: 20px; /* Adjust this value as needed */
  }